.imageCard
{
    height: 250px;
    width: 200px;
    border: 2px solid red;

}

.logoDiv
{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    /* margin-left: 100px; */
    /* margin-top: 50px; */
    background-color: aqua;


}

.button
{
    padding: ;
}