.body{
  background-color: beige;
}
.container{
  display: grid;
  height: 600px;
  width: 100%;
  grid-template-columns: repeat(12 ,1fr);
  grid-template-rows: repeat(6 , 1fr);
  background-color: antiquewhite;
  border: 1px solid black;

}
/* .row1,.row2,.row3,.row4{
  border: 1px dotted black;
} */
.row1{
  /* grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 5; */
  grid-column: 1/13;
  grid-row: 1/2;
  background-color:black;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.row2{
  grid-column: 1/13;
  grid-row: 2/3;
  background-color: #0F1111;
  height: 70px;
  border: 1px solid white;

  color: white;
 

  

}
.row3{
  grid-column: 1/13;
  grid-row: 3/4;
  
}
.row4{
  grid-column: 1/13;
  grid-row: 4/5;
  height: 400px;
  background-color: burlywood;
  display: flex;
  border: 2px solid gold;
  justify-content: space-evenly;
  align-items: center;

}
.row41,.row42,.row43,.row44{
  width: 260px;
  height: 300px;
  border: 2px solid red;

}
.row41{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
}
.row411{
  /* background-color: brown; */
  border: 1px solid yellowgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: normal;
  margin-left: 10px;
  background-color: white;

}
.row412{
  /* background-color: blue; */
  border: 1px solid yellowgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: normal;
  margin-left: 10px;
  background-color: white;
}
.row413{
  /* background-color: red; */
  border: 1px solid yellowgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: normal;
  margin-left: 10px;
  background-color: white;
}
.row414{
  /* background-color: pink; */
  border: 1px solid yellowgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: normal;
  margin-left: 10px;
  background-color: white;
}
ul li{
  list-style-type: none;
  display: inline;
  padding: 20px;

}
li:hover{
  background-color: aqua;
}
