body
{
    background-color:yellowgreen ;
    margin: 50px 50px;
}

.container
{
    display: grid;
    height: 600px;
    width: 100%;border: 5px solid black;
    background-color: rebeccapurple;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6,1fr);

}

.A, .B, .C, .D, .E, .F, .G, .H, .I
{
    border: 4px double gray;
}

.A
{
    grid-column: 1/13;
    grid-row: 1/2;
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.B
{
    grid-column: 1/13;
    grid-row: 2/3;
    background-color: black;
    height: 70px;
    color: white;
    border: 1px solid white;
}

ul li
{
    list-style-type: none;
    display: inline;
    padding: 20px;
}

li:hover
{
    background-color: cadetblue;
}

.row4
{
    border: 2px solid gold;
    display: flex;
    background-color: burlywood;
    grid-row: 4/5;
    grid-column: 1/13;
    justify-content: space-evenly;
    height: 400px;
    align-items: center;
}

.row41, .row42, .row43, .row44
{
    width: 260px;
    height: 300px;

} 

.row41
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}

.row411
{
    background-color: blue;
    border: 1px solid yellowgreen;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: normal;


}

.row412
{
    background-color: brown;
}

.row413
{
    background-color: aqua;
}